<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
<title>@ViewBag.Title</title>
    @RenderSection("Styles", required: false)
    @Styles.Render("~/font-awesome/css")
    @Styles.Render("~/Content/flex")
    @Styles.Render("~/Content/kendo/css")
    @Scripts.Render("~/bundles/jquery")
    @Html.Partial("_LayoutHeaderScripts")
    <style>
        body, html {
            background-color: #fff;
        }
    </style>
</head>
<body>

    @RenderBody()


    @Scripts.Render("~/bundles/flex")
    @Scripts.Render("~/bundles/kendo")
    @RenderSection("scripts", required: false)

    @Html.Partial("_LayoutScripts")
</body>
</html>
